<h1> <%= @cocktail.name %> </h1>

<p> <% @cocktail.doses.each do |dd|%>
  <%= dd.description %>
  <%= dd.ingredient.name %>
  <%= link_to "delete dose", cocktail_path(@cocktail), method: :destroy , data: {confirm: "Are you sure?"}%>
<% end %>
</p>

<p>  <%= link_to 'create dose',  new_cocktail_dose_path(@cocktail)%> </p>

<p><%= link_to 'Back to all Cocktails', cocktails_path  %> </p>
